* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 150px;
}

main {
  height: 1000px;
  width: 100%;
  background-color: black;
}

footer {
  background: #ffdab9;
  width: 100%;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  margin: 0;
}
