<form action="/products/store" method="POST" style="margin-top: 100px;">
    <input type="text" name="name" id="">
    <input type="text" name="description" id="">
    <input type="text" name="image" id="">
    <input type="text" name="price" id="">
    <button type="submit">Them San Pham</button>
</form>