.main-homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    height: auto;
}


.main-homepage  article {
    height: 200px;
    width: 200px;
    margin: 40px;
}

.main-homepage article a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: red;
    align-items: center;
}

.main-homepage  article  .card__img{
    height: 80%;
    width: 100%;
}

.main-homepage  article img {
    height: inherit;
    width: inherit;
}

.main-homepage  article .card__name {
    color: orange;
}

.main-homepage  article .card__price {
    color: whitesmoke;
}