<header>
    <div class="navbar">
        <span class="navbar-home">
            <a href="#" class="link-home"> Team Seven </a>
        </span>
        <span class="navbar-search">
            <form action="">
                <input type="text" class="search-item" placeholder="Search..." />
                <button class="icon-search">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </span>
        <span class="icon">
            <span class="login-register">
                <div class="dropdown">
                    <button onclick="clickDropDown()" class="dropbtn">
                        <i href="#" class="fas fa-user"></i>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Tên</a>
                        <a href="#">Thông Tin</a>
                        <a href="#">Đăng Xuất</a>
                    </div>
                </div>
            </span>
            <span class="cart">
                <div class="dropdown">
                    <button onclick="clickDropDown2()" class="dropbtn">
                        <i href="#" class="fas fa-cart-plus"></i>
                    </button>
                    <div id="myDropdown-2" class="dropdown-content-2">
                    </div>
                </div>
            </span>
        </span>
    </div>
</header>