<header class="navbar-header">
        <nav class="navbar-nav">
            <div class="brand">
                <h2>Team Seven</h2>
            </div>
            <ul>
                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a></li>
                <li><a href="#contact-us-email"><i class="fa fa-telegram" aria-hidden="true"></i> Về Chúng Tôi</a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ Hàng</a></li>
                <li class="nav-drop-down">
                    <a class="navbar-user"><i class="fa fa-user" aria-hidden="true"></i> Đức Huy</a>
                    <ul>
                        <li> <a href="#"><i class="fa fa-clipboard"></i> Đơn Hàng </a></li>
                        <li> <a href="/profile/id" target="_blank"><i class="fa fa-address-book"></i> Tài Khoản </a></li>
                        <li> <a href="#"><i class="fa fa-outdent"></i> Đăng Xuất</a> </li>
                        <li> <a href="/products/create-update-delete"><i class="fa fa-clipboard"></i> Thêm Sản Phẩm </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>