
<header>
        <div class="navbar">
            <span class="navbar-home">
                <a href="#" class="link-home"> Team Seven </a>
            </span>
            <span class="navbar-search">
                <form action="">
                    <input type="text" class="search-item" placeholder="Search..." />
                    <button class="icon-search">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </span>
        </div>
</header>