<main>
    <form action="POST">
        <h2>Sign Up</h2>
        <label for="email">email</label>
        <input type="text" name="email" required />
        <div class="email error"></div>
    
        <label for="password">password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
    
        <button>Sign up</button>
    </form>
</main>