<main>
    <form action="POST" method="">
        <h2>Sign Up</h2>
        <label for="email">email</label>
        <input type="text" name="email" required />
        <div class="email error"></div>

        <label for="password">password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>

        <label for="name">name</label>
        <input type="text" name="name" required />
        <div class="name error"></div>

        <label for="address">address</label>
        <input type="text" name="address" required />
        <div class="address error"></div>

        <label for="phone">phone</label>
        <input type="text" name="phone" required />
        <div class="phone error"></div>


        <div class="gender">
            <label for="male">male</label>
            <input type="radio" id="male" name="gender" value="male" checked="checked">
            <label for="female">female</label>
            <input type="radio" id="female" name="gender" value="female">
            <div class="gender error"></div>
        </div>

        <button>Sign up</button>
    </form>
</main>