<main>
    <form action="POST" method="">
        <h2>Sign Up</h2>
        <label for="email">email</label>
        <input type="text" name="email" required />
        <div class="email error"></div>

        <label for="password">password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>

        <label for="name">name</label>
        <input type="text" name="name" required />
        <div class="name error"></div>


        <button>Sign up</button>
    </form>
</main>