<!DOCTYPE html>
<html lang="en">

<head>
    <title>Team 7</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/Kien/Kien.css" />
    <link rel="stylesheet" href="./css/HoangDuc/footer.css" />
    <link rel="stylesheet" href="./css/Kien/clickDropDown.css" />
</head>

<body>

    {{> header}}

    {{{body}}}

    {{> footer}}

    <script src="./js/Kien/clickDropDown.js"></script>
</body>

</html>