<div class="update-profile">
    <form action="/profile/store" method="PUT" style="margin-top: 100px;">
        <input type="text" name="name" id="" placeholder="name">
        <input type="text" name="image" id="" placeholder="image">
        <input type="text" name="password" id="" placeholder="password">
        <input type="text" name="phone" id="" placeholder="phone">
        <input type="text" name="address" id="" placeholder="address">
        <button type="submit">Cập Nhật</button>
    </form>
</div>