.container {
  background: blue;
  width: 200px;
  text-align: left;
}
.containet5 {
  flex-grow: 1;
  width: 500px;
}
.bigone {
  text-align: right;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
}
.bigone {
  padding: 5px;
  max-width: 1000px;
  max-height: 1000px;
  display: flex;
  flex-direction: row;
}
