footer .container {
  padding: 10px;
  background: rgb(255, 255, 255);
  flex-grow: 1;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.5;
  box-sizing: border-box;
}

.bigone {
  display: flex;
  height: 100%;
  align-items: center;
}

footer .container1 {
 flex-basis: 150px;
}
footer .container2 {
  flex-basis: 150px;
 }
