body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body > .sign-up {
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body > .sign-up > form {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

body > .sign-up > form > .form-group {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
}